	
			<% if @user.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this cliente from being saved:</h2>
			
			      <ul>
			      <% @user.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
		  	<% end %>
		  	<div class="msgCadastro span5" style="float:right">
				<%= image_tag("cadastro_"+(rand(1..3).to_s)+".png")  %>
				<div class="msgCadastroTexto">
					<h2>Chegou a sua vez de ter um <p>popstil!</p></h2>	
					<h4>Tendo seu cadastro você poderá efetuar novos pedidos e ainda ser o primeiro a saber das 		
					novidades da Popstil.com!</h4>
				</div>
			</div>
			<div class="cadastro_input">
				<div class="span7">
					<%= f.text_field :nome, placeholder: 'Nome', size: '100px', style:'width:350px' %>
				</div>
			</div>
			<div class="cadastro_input">
				<div class="span7">
					<%= f.text_field :sobrenome, placeholder: 'Sobrenome', size: '100px', style:'width:350px' %>
				</div>
			</div>
			<div class="cadastro_input">
				<div class="span7">
					<%= f.text_field :cpf, placeholder: 'CPF', size: '50px' %>
				</div>
			</div>
			<div class="cadastro_input">
				<div class="span7">
					<%= f.date_field :data_nascimento, placeholder: 'Data de nascimento', size: '50px' %>
				</div>
			</div>
			<div class="cadastro_input">
				<div class="span7">
					<%= f.select :sexo, [["Masculino",'M'], ["Feminino",'F']], prompt: 'Sexo'  %>
				</div>
			</div>			
		</div>
		<div class="row">
			<div class="span12">
				<hr class="linha_divisao"/>
			</div>
			<div class="cadastro_input">
				<div class="span12">
					<%= f.text_field :username, placeholder: 'Como gostaria de ser chamado?', style:'width: 280px' %>
				</div>
			</div>
			<div class="cadastro_input">
				<div class="span3">
					<%= f.email_field :email, placeholder: 'E-mail' %>
				</div>
			</div>
			<div class="cadastro_input">
				<div class="span6">
					<%= f.label :receber_newsletter, 'Gostaria de receber e-mails com novidades, ofertas e promoções especiais da pospstil.com?'%>
				</div>
				<div class="span3">	
				  	<%= f.radio_button :receber_newsletter, '1' %><span>Sim</span>
				  	<%= f.radio_button :receber_newsletter, '0' %><span>Não</span>
				</div>
			</div>
			<div class="cadastro_input">
				<div class="span12">
					<%= f.password_field :password, placeholder: 'Senha' %>
				</div>
			</div>
			<div class="cadastro_input">
				<div class="span12">
					<%= f.password_field :password_confirmation, placeholder: 'Confirmar senha' %>
				</div>
			</div>		  		  
		</div>		
